.wrapper {
	margin-top: 40px;
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: bold;
	font-size: 16px;
	color: #969696;
	p {
		cursor: pointer;
		transition: color 0.5s;
	}
}

.active {
	color: #fff;
}
